﻿@model PlateResultViewModel

@{
	ViewData["Title"] = "Viewer";
	var css = Model.SentimentScore < 0.15D ? "alert alert-danger" : Model.SentimentScore < 0.5D ? "alert alert-warning" : "";
}

<h1>Personalize Plate Search</h1>
<p>
	Welcome! Team 3 has enabled this service to allow customers to search for a personalized plate from the DMV.
	You may select up to eight (8) characters for Standard or Scenic; six (6) Characters for 9-11, Wildlife, or Motorcycle; and up to five (5) for Patriotic plates. The minimum number of characters allowed is two (2). Symbols, punctuation marks, and numbers 1 to 2000 are not allowed.
</p>
<div class="row">
	<div class="col-sm-4">
		<h4>&nbsp;</h4>
		@using ( Html.BeginForm( "Index", "Home", FormMethod.Post, new { id = "check-form" } ) )
		{
			<input id="PlateImage" type="hidden" name="PlateImage" />
			<div class="form-group">
				@Html.LabelFor( m => m.StateCode )
				@Html.DropDownListFor( m => m.StateCode, Model.StateSelectList, new { @class = "form-control", onchange = "showImage(this)" } )
			</div>
			<div class="form-group">
				@Html.LabelFor( m => m.PlateType )
				@Html.DropDownListFor( m => m.PlateType, Model.PlateTypeList, new { @class = "form-control", onchange = "showImage(this)" } )
			</div>
			<div class="form-group">
				@Html.LabelFor( m => m.PlateNumber )
				@Html.TextBoxFor( m => m.PlateNumber, new { @class = "form-control text-uppercase", onkeyup = "RenderNumber(this)", maxlength = 8 } )
				@Html.ValidationMessageFor( m => m.PlateNumber, null, new { @class = "help-block" } )
			</div>
			<div id="image-preview" style="height: 159px; width: 316px; padding: 50px 0; font-size: 40px; font-weight: bold" class="text-center">
			</div>
			<br />
			<button type="button" class="btn btn-primary" id="submit-button" onclick="getImageData();">Check Availability</button>
		}
	</div>
	@if ( Model.SentimentScore > 0 )
	{
		<div class="col-sm-6 col-sm-offset-1 @css">
			<h3>Request Result Scores (For Demo Purposes Only)</h3>
			<div class="col-sm-8">
				<div id="score-results">
					@Html.LabelFor( m => m.OcrTextAsString )
					@Html.TextBoxFor( m => m.OcrTextAsString, new { @readonly = "readonly", @class = "form-control" } )
				</div>
			</div>
			<div class="col-sm-8">
				<div class="form-group">
					<label for="@Html.IdFor(m=> m.SentimentScore)">Sentiment:</label>
					@Html.TextBoxFor( m => m.SentimentScore, new { @readonly = "readonly", @class = "form-control" } )
				</div>
			</div>
			@*<div class="col-sm-8">
					<div class="form-group">
						<label for="@Html.IdFor(m=> m.ModerationProfantityScore)">Moderation Profanity:</label>
						@Html.TextBoxFor(m => m.ModerationProfantityScore, new { @readonly = "readonly", @class = "form-control" })
					</div>
				</div>*@
			<div class="col-sm-8">
				<div class="form-group">
					<label for="@Html.IdFor(m=> m.ReviewRecommended)">Flag for Human Review:</label>
					@Html.TextBoxFor( m => m.ReviewRecommended, new { @readonly = "readonly", @class = "form-control" } )
				</div>
			</div>
			<div class="col-sm-8">
				<div class="form-group">
					<label for="@Html.IdFor(m=> m.IsStateRestricted)">Restricted by State:</label>
					@Html.TextBoxFor( m => m.IsStateRestricted, new { @readonly = "readonly", @class = "form-control" } )
				</div>
			</div>
		</div>
	}
</div>
@section Scripts
	{
	<script>
		function showImage() {
			var rootPath = '/Images/$state$/$state$_plate_blank.jpeg',
				state = $('#StateCode').val(),
				path = rootPath.replace(/\$state\$/g, state);

			$('#image-preview').css('background-image', 'url(' + path + ')');
		}
		function RenderNumber(control) {
			$('#image-preview').text(control.value.toUpperCase().replace(/[^a-zA-Z0-9\s]/g, ''));
		}
		showImage();
		RenderNumber($('#PlateNumber')[0]);
		function getImageData() {
			var node = document.getElementById('image-preview');

			domtoimage.toPng(node)
				.then(function (dataUrl) {
					var img = new Image();
					img.src = dataUrl;
					$("#PlateImage").val(img.src);
					$('#check-form').submit();
				})
				.catch(function (error) {
					console.error('oops, something went wrong!', error);
				});
		}
		$(document).ready(function () {
			$(window).keydown(function (event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					return false;
				}
			});
		});
	</script>
}