﻿@model platech.Models.AddCensoredWordViewModel

@{
    ViewData["Title"] = "Add Censored Word";
}

<h4>Create Censored Word for @Model.State.ToString()</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCensoredWord">
            @Html.HiddenFor(x => x.State)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CensoredWord" class="control-label"></label>
                <input asp-for="CensoredWord" class="form-control" />
                <span asp-validation-for="CensoredWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

