﻿@model platech.Models.CreateRegexViewModel

@{
    ViewData["Title"] = "Create Regex";
}

<h4>Create Regex for @Model.State.ToString()</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRegex">
            @Html.HiddenFor(x => x.State)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewRegex" class="control-label"></label>
                <input asp-for="NewRegex" class="form-control" />
                <span asp-validation-for="NewRegex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

