﻿@model StatePlateManagerViewModel
@{
    ViewData["Title"] = "State Plate Manager";
}

<h2>State Manager</h2>

<div>
    <h4>State Manager View</h4>
    <hr />

    @*@Html.DisplayFor(x => x.State)*@
    @Html.DropDownListFor(m => m.State, (IEnumerable<SelectListItem>)ViewBag.StateList, "State Options", new { @id = "stateDropdown" })

    <hr />
    <h4>Plate Regular Expressions</h4>
    <table id="regexTable" class="table table-bordered">
        
        @foreach (var regex in Model.PlateRegexs)
        {
            <tr>
                <td>@regex</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Create New Regular Expression", "CreateRegex", new { state = (int)Model.State })

    <hr />
    <h4>Censored words</h4>
    <table id="censoredTable" class="table table-bordered">
        
        @foreach (var censoredWord in Model.CensoredWords)
        {
            <tr>
                <td>@censoredWord</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Add New", "AddCensoredWord", new { state = (int)Model.State })
</div>

<script>
    window.onload = function () {
        $('#stateDropdown').change(function () {
            var stateId = $('#stateDropdown').val();
            var action = '@Url.Action("Index", "Admin")';
            window.location.replace(action + '?state=' + stateId);
        });
    }
</script>